
  body {
    background-image: url('Imagenes/Fondobg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

a:link {
  text-decoration: none;
}

/*<img alt="Logo Computerhoy.com" loading="lazy" width="183" height="65" decoding="async" data-nimg="1" style="color:transparent" src="/_next/static/media/logo-ch.cf98bc13.svg"> VER EN EL HTML, HAY ETIQUETAS INTERESANTES*/
/* html, body{
  height:100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
} */

/* .header{
  height: 80px;
  width: 100%;
  background-color: #2782BA;

} */
.letrapequeña
.linea {
  border-top: 1px solid black;
  height: 10px;
  max-width: 100%;
  padding: 0;
  margin: 20px auto 0 auto;
background-color: black;
}

.titulos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.creativos{
  text-align: center;
 
  line-height: 30px;
  letter-spacing: normal;
  font-weight: 400;
  color: #3c3c3c;
}