/* header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header .contenedor-lupita{
  display: inline-block;
  position: relative;
}

header .header-search input {
  width: 200px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;} */

body {
  background-image: url 
}

 .container_icon {
  display: flexbox;
  justify-content: space-around;
  width: 30%;
  height: 30%;
  }

  
/*.bg-image {
  background-image: url("Imagenes/Foto\ header.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  }

ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  gap: 1mm;
}

li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

a {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
*/