header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  header ."contenedor-lupita"header-search {
    display: inline-block;
    position: relative;
  }
  
  header .header-search input {
    width: 200px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;}


   .container_icon {
    display: flexbox;
    justify-content: space-around;
    width: 30%;
    height: 30%;
    }